body{
    background-image: url("./pictures/pr1.webp");   
    background-size: cover; 
}

#title{
        color: black;
        opacity: 80%;

}
#id{
    color:black;
    font-size: large;
}



/* #icon-bar{
    width: 100%;
    background-color: #555;
  
} */
.nav1{
    position: absolute;
    top: 0px;
    left: 300px;
    font-size: 10mm;
  }

.nav2{
    position: absolute;
    top: 0px;
    left: 500px;
    font-size: 10mm;
 }
.nav3{
    position: absolute;
    top: 0px;
    left: 650px;
    font-size: 10mm;
  }

  
  .icon-bara:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #04AA6D;
  }




  
